@import url('https://fonts.googleapis.com/css?family=Roboto:100,400&display=swap');

*, html {
    padding: 0;
    margin: 0;
}

body {
    margin: 10px;
    background-color: #D4D4D4;
    font-family: "Roboto", sans-serif; 
}

.btn-container {
    padding: 50px;
    display:flex;
}

.btn-container > div {
    margin: 0 auto;
    display:flex;
    align-items:center;
}

h1 {
    font-size: 40px;
    margin: 50px;
    font-weight: 100;
    text-decoration: underline;
}

button {
    margin: 0 auto;
    padding: 11px;
    background-color: #D4D4D4;
    border: solid black 1px;
    transition: 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: #ED553B;
    color:white;
    border: 0px;
    transform: scale(1.1)
}

.grid-container {
    margin: 0 auto;
    width: 519px;
    height: auto; 
    display: grid;
    border: 10px solid #ED553B;
}

.grid-container > div {
    background-color: black;
    opacity:0.1;
  }

