*, html {
    padding: 0;
    margin: 0;
}

body {
    margin: 10px;
}

button {
    display:block;
    padding: 10px;
    margin-bottom: 10px;
}

.grid-container {
    width: 700px;
    height: 700px; 
    display: grid;
}

.grid-container > div {
    background-color: #25237A;
  }

